/.idea
/.settings
/.project
/.classpath
/bin
/target
/node_modules
*lock.json
access.json
*.*~
*.iml
*reduced-pom.xml
# General
.DS_Store
.AppleDouble
.LSOverride
/out/META-INF/

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
node_modules/\.bin/

node_modules/ajv/

package-lock\.json

packages/

# app

*.iml 
/samsung/SamsungTest/.gradle/
/samsung/SamsungTest/local.properties 
/samsung/SamsungTest/.idea/caches
/samsung/SamsungTest/.idea/libraries 
/samsung/SamsungTest/.idea/modules.xml 
/samsung/SamsungTest/.idea/workspace.xml 
/samsung/SamsungTest/.idea/navEditor.xml 
/samsung/SamsungTest/.idea/assetWizardSettings.xml 
.DS_Store 
/samsung/SamsungTest/build 
/samsung/SamsungTest/captures 
.externalNativeBuild 
.cxx 